.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background {
  width: 100%;
  z-index: -1;
}

.login {
  position: absolute;
  top: 30%;
  left: 25%;
  color: limegreen;
  font-family: "Press Start 2P";
}

h1 {
  font-size: 60px;
  font-family: "Press Start 2P";
  position: absolute;
  top: 20%;
  left: 18%;
  color: yellow;
}

.cat_class {
  font-size: 50px;
  color: yellow;
  font-family: "Press Start 2P";
  left: 13%;
}

h2 {
  font-size: 50px;
  font-family: "Press Start 2P";
  position: absolute;
  top: 30%;
  left: 23%;
  color: yellow;
}

h3 {
  font-size: 40px;
  text-align: center;
  font-family: "Press Start 2P";
}

a {
  font-family: "Press Start 2P";
}

.userProfile {
  background-image: url("../src/image.png");
  width: 15%;
  height: 35%;
  position: absolute;
  bottom: 33%;
  left: 7%;
  z-index: 3;
  background-repeat: no-repeat;
}

.imageLink {
  opacity: 0.1;
  position: absolute;
  height: 20%;
  width: 10%;
}

.highscores {
  left: 12.5%;
  font-size: 58px;
}

.scores {
  list-style-type: none;
}

li {
  font-size: 8px;
  font-family: "Press Start 2P";
  position: absolute;
  color: lime;
}

.Video.Games,
.Geography,
.History,
.Science.And.Nature,
.General.Knowledge,
.Music {
  font-size: 25px;
  float: right;
}

.Books,
.Movies,
.Sports,
.Television,
.Celebrities,
.Animals {
  font-size: 25px;
  float: left;
}

.Books {
  position: absolute;
  top: 44%;
  left: 31.5%;
}

.Movies {
  position: absolute;
  top: 50%;
  left: 30%;
}

.Sports {
  position: absolute;
  top: 56%;
  left: 30%;
}

.Television {
  position: absolute;
  top: 62%;
  left: 24%;
}

.Celebrities {
  position: absolute;
  top: 68%;
  left: 22.5%;
}

.Animals {
  position: absolute;
  top: 74%;
  left: 28.5%;
}

.Video.Games {
  position: absolute;
  top: 44%;
  right: 30%;
}

.Geography {
  position: absolute;
  top: 50%;
  right: 33%;
}

.History {
  position: absolute;
  top: 56%;
  right: 36%;
}

.Science.And.Nature {
  position: absolute;
  top: 62%;
  right: 19.5%;
}

.General.Knowledge {
  position: absolute;
  top: 68%;
  right: 21%;
}

.Music {
  position: absolute;
  top: 74%;
  right: 38.75%;
}

.inputField {
  padding: 12px 20px;
  font-family: "Press Start 2P";
  margin-left: 28%;
}

.loginButton {
  font-family: "Press Start 2P";
  float: right;
  margin-top: -1%;
}

.easy {
  position: absolute;
  top: 30%;
  font-family: "Press Start 2P";
  color: limegreen;
  width: 20%;
  height: 12%;
  border-radius: 25px;
  left: 40%;
}

.medium {
  position: absolute;
  top: 48%;
  font-family: "Press Start 2P";
  color: limegreen;
  width: 20%;
  height: 12%;
  border-radius: 25px;
  left: 40%;
}

.hard {
  position: absolute;
  top: 66%;
  font-family: "Press Start 2P";
  color: limegreen;
  width: 20%;
  height: 12%;
  border-radius: 25px;
  left: 40%;
}

.quest_div {
  width: 75%;
  position: absolute;
  top: 10%;
  height: 40%;
  left: 13%;
  overflow: hidden;
  margin: auto;
}

.questions {
  position: absolute;
  font-family: "Press Start 2P";
  font-size: 35px;
  top: 25%;
  text-align: center;
  color: white;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end);
}

.answer_div {
  /* background-color: red; */
  width: 75%;
  /* height: 40%;
  position: absolute; */
  /* top: 60%;
  left: 13%;
  overflow: hidden; */
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */
.gameOver {
  font-size: 130px;
  position: absolute;
  top: 20%;
  left: 12%;
  color: red;
  font-family: "Press Start 2P";
}

.endScore {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 26%;
  color: yellow;
  font-family: "Press Start 2P";
}

.newHigh {
  font-size: 30px;
  position: absolute;
  top: 60%;
  left: 38%;
  color: yellow;
  font-family: "Press Start 2P";
}

.menu {
  font-size: 30px;
  position: absolute;
  top: 70%;
  left: 36%;
  color: white;
}

.menu2 {
  font-size: 30px;
  position: absolute;
  top: 35%;
  left: 36%;
  color: white;
}

.currentScore {
  font-family: "Press Start 2P";
  font-size: 25px;
  position: absolute;
  top: 20.5%;
  left: 9%;
  color: white;
}

.currentLives {
  font-family: "Press Start 2P";
  font-size: 25px;
  position: absolute;
  top: 25%;
  left: 9%;
  color: #eb7482 
}

.answersA {
  font-family: "Press Start 2P";
  position: absolute;
  top: 42%;
  left: 32%;
  color: red;
  font-size: 32px;
  background-color: transparent;
  border-color: transparent;
}

.answersB {
  font-family: "Press Start 2P";
  position: absolute;
  top: 51%;
  left: 32%;
  color: yellow;
  font-size: 32px;
  background-color: transparent;
  border-color: transparent;
}

.answersC {
  font-family: "Press Start 2P";
  position: absolute;
  top: 61%;
  left: 32%;
  color: #6dd8e1;
  font-size: 32px;
  background-color: transparent;
  border-color: transparent;
}

.answersD {
  font-family: "Press Start 2P";
  position: absolute;
  top: 70%;
  left: 32%;
  color: lime;
  font-size: 32px;
  background-color: transparent;
  border-color: transparent;
}

.buttonA {
  position: absolute;
  width: 3.5%;
  height: 2%;
  right: 46%;
  bottom: 13%;
  opacity: 0.1;
}

.buttonB {
  position: absolute;
  width: 3.5%;
  height: 2%;
  bottom: 7%;
  right: 37%;
  opacity: 0.1;
}

.buttonC {
  position: absolute;
  width: 3.5%;
  height: 2%;
  bottom: 13%;
  right: 29%;
  opacity: 0.1;
}

.buttonD {
  position: absolute;
  width: 3.5%;
  height: 2%;
  bottom: 7%;
  right: 19%;
  opacity: 0.1;
}

.Play {
  position: absolute;
  width: 8%;
  height: 5%;
  left: 14%;
  bottom: 10%;
  background-color: lime;
  font-family: "Press Start 2P";
  font-size: 12px;
  border-color: lime;
}

.Pause {
  position: absolute;
  width: 8%;
  height: 5%;
  left: 14%;
  bottom: 10%;
  background-color: rgb(148, 0, 0);
  font-family: "Press Start 2P";
  font-size: 12px;
  border-color: rgb(187, 13, 13);
}

.buttonRight {
  border: 8px solid green;
 }
 
 .buttonWrong {
  border: 8px solid red;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 850px) {
  html {
    transform: rotate(0.75turn);
  }

  body {
    background-color: black;
    z-index: -5;
  }

  .background {
    position: relative;
    width: 1046px;
    right: 555px;
    top: 220px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 33px;
    left: -80%;
    top: 38%;
  }

  .cat_class {
    font-size: 18px;
  }

  h3 {
    font-size: 10px;
  }

  .userProfile {
    left: -122%;
    width: 31%;
    background-image: url("../src/image-mobile.png");
    height: 20%;
    position: absolute;
    bottom: 33%;
    z-index: 3;
    background-repeat: no-repeat;
  }

  .Video.Games,
  .Geography,
  .History,
  .Science.And.Nature,
  .General.Knowledge,
  .Music,
  .Books,
  .Movies,
  .Sports,
  .Television,
  .Celebrities,
  .Animals {
    font-size: 16px;
  }

  .Books {
    top: 50%;
    left: -70%;
  }

  .Movies {
    top: 55%;
    left: -70%;
  }

  .Sports {
    top: 60%;
    left: -70%;
  }

  .Television {
    top: 65%;
    left: -70%;
  }

  .Celebrities {
    top: 70%;
    left: -70%;
  }

  .Animals {
    top: 75%;
    left: -70%;
  }

  .Video.Games {
    top: 50%;
    left: 5%;
  }

  .Geography {
    top: 55%;
    left: 5%;
  }

  .History {
    top: 60%;
    left: 5%;
  }

  .Science.And.Nature {
    top: 65%;
    left: 5%;
  }

  .General.Knowledge {
    top: 70%;
    left: 5%;
  }

  .Music {
    top: 75%;
    left: 5%;
  }

  .easy {
    width: 60%;
    height: 10%;
    top: 40%;
    left: -26%;
  }

  .medium {
    width: 60%;
    height: 10%;
    top: 55%;
    left: -26%;
  }

  .hard {
    width: 60%;
    height: 10%;
    left: -26%;
    top: 70%;
  }

  .quest_div {
    width: 323%;
    margin-left: -135%;
    margin-top: 10%;
  }

  .questions {
    font-size: 28px;
    top: 63%;
    right: 28%;
  }

  .answersA {
    font-size: 25px;
    top: 56%;
    left: -70%;
  }

  .answersB {
    font-size: 25px;
    left: -70%;
    top: 64%;
  }

  .answersC {
    top: 72%;
    font-size: 25px;
    left: -70%;
  }

  .answersD {
    top: 79%;
    font-size: 25px;
    left: -70%;
  }

  .buttonA {
    left: -5%;
    top: 88%;
  }

  .buttonB {
    left: 20%;
    top: 93%;
  }

  .buttonC {
    top: 88%;
    left: 43%;
  }

  .buttonD {
    top: 93%;
    left: 70%;
  }

  .gameOver {
    font-size: 79px;
    top: 44%;
    left: -112%;
  }

  .endScore {
    font-size: 40px;
    top: 60%;
    left: -100%;
  }

  .newHigh {
    font-size: 17px;
    left: 76%;
    top: 77%;
  }

  .menu {
    left: -80%;
  }

  .highscores {
    left: -104%;
    font-size: 35px;
    width: 200%;
    top: 40%;
  }

  .menu2 {
    top: 80%;
    font-size: 16px;
    width: 100%;
    left: -50%;
  }

  .currentScore {
    left: 93%;
    top: 82%;
  }

  .currentLives {
    left: 93%;
    top: 77%;
  }

  .login {
    left: -100%;
    top: 44%;
  }

  .loginButton {
    background-color: white;
  }

  .Play {
    position: absolute;
    width: 18%;
    height: 5%;
    left: -110%;
    bottom: 18%;
    background-color: lime;
    font-family: "Press Start 2P";
    font-size: 7px;
    border-color: lime;
  }
  
  .Pause {
    position: absolute;
    width: 18%;
    height: 5%;
    left: -110%;
    bottom: 18%;
    background-color: rgb(148, 0, 0);
    font-family: "Press Start 2P";
    font-size: 10px;
    border-color: rgb(187, 13, 13);
  }

}

